<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Vtdirect>
      <version>0.1.0</version>
    </Veritrans_Vtdirect>
  </modules>
<global>
  <models>
        <vtdirect>
            <class>Veritrans_Vtdirect_Model</class>
        </vtdirect>  
        <checkout>
            <rewrite>
              <type_onepage>Veritrans_Vtdirect_Model_Type_Onepage</type_onepage>
            </rewrite>
        </checkout>
  </models>
  <helpers>
      <vtdirect>
        <class>Veritrans_Vtdirect_Helper</class>
      </vtdirect>
  </helpers>
  <blocks>
    <vtdirect>
    <class>Veritrans_Vtdirect_Block</class>
    </vtdirect>
  </blocks>
  <checkout>
    <rewrite>
      <type_onepage>Veritrans_Vtdirect_Model_Type_Onepage</type_onepage>
    </rewrite>
  </checkout>
</global>
  <frontend>
      <routers>
        <vtdirect>
          <use>standard</use>
            <args>
              <module>Veritrans_Vtdirect</module>
              <frontName>vtdirect</frontName>
            </args>
        </vtdirect>
        <checkout>
          <args>
            <modules>
              <Veritrans_Vtdirect before="Mage_Checkout">Veritrans_Vtdirect</Veritrans_Vtdirect>
            </modules>
          </args>
        </checkout> 
      </routers>
      <layout>
          <updates>
            <vtdirect>
              <file>vtdirect.xml</file>
            </vtdirect>
          </updates>
      </layout>
  </frontend>
  <default>
    <payment>
      <vtdirect>
        <model>vtdirect/standard</model>
        <active>1</active>
        <order_status>processing</order_status>
        <title>Veritrans Payment Method</title>
        <sort_order>1</sort_order>
      </vtdirect>
    </payment>
   </default> 
 </config>